#{extends 'main.html' /}
#{set 'title'}
    &{'menuhome'}
#{/set}

#{set currentMenu:'menuHome' /}

Users:
<ul>
#{list items:users, as:'user'}
    #{userLine user:user /}
#{/list}
</ul>

#{if controllers.Security.connectedUser()}

&{'friendrequests'}
<ul>
#{list items:friendRequests, as:'request'}
    <ul>${request.from.userName}: ${request.message}<a href="@{Application.acceptFriendrequest(request.id)}" class="button">&{'accept'}</a> <a href="@{Application.rejectFriendrequest(request.id)}" class="button">&{'reject'}</a> </ul>
#{/list}
</ul>

&{'buddies'}
<ul>
#{list items:buddies, as:'buddy'}
    <li>${buddy.userName}</li>
#{/list}
</ul>

#{invitations invitationsLeft:invitationsLeft /}

#{/if}