<div id="accordion"  class="form">
    <h3><a href="#">Basic parameters</a></h3>
    <div>
        <div class="mapEditContainer">
            <div id="mapSelectLocation" class="mapEdit"></div>
            <script type="text/javascript">
            var displayLocation = new google.maps.LatLng(0, 0);
            var displayZoom = 1;
            var displayMarker = false;
            #{if dive.spot}
                 displayLocation = new google.maps.LatLng(${dive.spot?.latitude}, ${dive.spot?.longitude});
                 displayZoom = 13;
                 displayMarker = true;
            #{/if}
            </script>
            <div>
                <input id="mapSearch-input" type="search" placeholder="&{'searchonmapsplaceholder'}"/>
                <a id="mapSearch-button" class="button" >&{'searchonmaps'}</a>
                <script type="text/javascript">
		        $("#mapSearch-button").click( function() {
		            var location = "";
		            location = $("#mapSearch-input")[0].value;
		            location += getValueFromCountryInput();
		            moveSelectionMapToAddress(location);
		        })
		        </script>
            </div>
        </div>
        
         <div class="row">
         <div class="rowElement">
         <label for="spotName" class="mainLabel">Spot</label>
			<input id="spotName" type="text" name="spot.name"
			value="${dive?.spot?.name}"
			size="40" />
			<span>
			    <select id="country-select" name="spot.country.id">
			      <option value="">&{'selectcountry'}</option>
			      %{ models.Country.all().fetch().sort{ it.toString() }.each() { }%
			        %{
			          selected = false;
			          if (dive?.spot?.country?.id == it.id) {
			            selected = true
			          }
			        }%
			        <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
			      %{ } }%
			      </select>
			</span>
          <span class="error" style="display:none;">${errors.forKey('spot.name')}</span>
          <span class="error" style="display:none;">${errors.forKey('spot.country')}</span>
          </div>
        </div>
        
        <script type="text/javascript">
        var countrySelect = $("#country-select");
        
        // When a country is selected, move the map.
        countrySelect.change( function() {
        	moveSelectionMapToAddress(getValueFromCountryInput());
        });

        // When a autocomplete suggestion is selected, update the country <select> 
        $( "#spotName" ).autocomplete({
            source: "@{Application.spotSuggest()}",
            minLength: 2,
            select: function(event, ui) {
                countrySelect.val(ui.item.country);
                placeMarkerOnSelectionMap( new google.maps.LatLng(ui.item.latitude, ui.item.longitude) );
            }
        });
	    </script>

        
        <div class="row">
          <div class="rowElement">
          <label for="date" class="mainLabel">Date</label>
              <script type="text/javascript">
                $(function() {
                  $("#date").datepicker({ 
                      dateFormat: 'yy-mm-dd',
                      maxDate: 0
                  } );
                });
              </script>
              <!-- TODO: date format needs to come from application.conf -->
              <input id="date" type="text" name="dive.date" 
                value="${dive?.date?.format('yyyy-MM-dd')}"
                size="10" />

          <span class="error" style="display:none;">${errors.forKey('dive.date')}</span>
          </div>
        </div>
        
        <div class="row" style="display:none;">
	        <div class="rowElement">
	            <label for="spotLatitude">Latitude</label>
	            <input id="spotLatitude" type="text" name="spot.latitude" value="${dive?.spot?.latitude}"/>
	        </div>
	        <div class="rowElement">
	            <label for="spotLongitude">Longitude</label>
	            <input id="spotLongitude" type="text" name="spot.longitude" value="${dive?.spot?.longitude}"/>
	        </div>
        </div>                     
		
		 <div class="row">
          <div class="rowElement">
			  <label for="maxDepth" class="mainLabel">Max Depth (meters)</label>
	          <input id="maxDepth" type="text" name="dive.maxDepth" value="#{if dive?.maxDepthSet}${dive?.maxDepth}#{/if}"/>
			  <span class="error" style="display:none;">${errors.forKey('dive.maxDepth')}</span>
			  <input type="hidden" id="maxDepthSet" name="dive.maxDepthSet" value="${dive?.maxDepthSet}"/>
			  <script type="text/javascript">
			  $("#maxDepth").change(function(){ $("#maxDepthSet").val(true); });
			  </script>
		  </div>
		  <div class="rowElement">
		      <label for="duration" class="mainLabel">Duration (minutes)</label>
	          <input id="duration" type="text" name="dive.duration" value="#{if dive?.durationSet}${dive?.duration}#{/if}"/>
		      <span class="error" style="display:none;">${errors.forKey('dive.duration')}</span>
		      <input type="hidden" id="durationSet" name="dive.durationSet" value="${dive?.durationSet}"/>
		      <script type="text/javascript">
              $("#duration").change(function(){ $("#durationSet").val(true); });
              </script>
	      </div>
		</div>
		
		 <div class="row">
		 <div class="rowElement">
		  <label for="center" class="mainLabel">Diving center</label>
	        <select id="center" name="dive.center.id">
                <option value="">(None)</option>              
		        %{ models.Center.all().fetch().sort{ it.toString() }.each() { }%
		          
		          %{
		            selected = false;
		            if (dive?.center?.id == it.id) {
		              selected = true
		            }
		          }%
	             <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
    	        %{ } }%
	          </select>
		      <span class="error" style="display:none;">${errors.forKey('dive.center')}</span>

	          <label for="training">training session?</label>
	          <input id="training" type="checkbox" name="dive.training" ${dive?.training ? 'checked':''} />
	          <span class="error" style="display:none;">${errors.forKey('dive.training')}</span>
          </div>
		</div>
		
    </div>
    
    <h3><a href="#">Marine life</a></h3>
    <div id="fishDragAndDrop">
    
    <div id="fishNet">
        <div>Seen</div>
    </div>
    <div id="fishLibrary">
        <div>Library</div>
        #{list items:models.Fish.all().fetch(), as:'fish'}
        <div class="fishBadge"><img alt="${fish.name}" src="/public/images/fishes/${fish.name}.png" /></div>
        #{/list}
    </div>
    
    </div>
    
    
    <h3><a href="#">Advanced parameters</a></h3>
    <div>
        <div class="row">
        <div>Temperature:</div>
        <div class="rowElement">
		  <label for="airTemperature">Air</label>
	      <input id="airTemperature" type="text" name="dive.airTemperature" value="#{if dive?.airTemperatureSet}${dive?.airTemperature}#{/if}"/>
		  <span class="error" style="display:none;">${errors.forKey('dive.airTemperature')}</span>
          <input type="hidden" id="airTemperatureSet" name="dive.airTemperatureSet" value="${dive?.airTemperatureSet}"/>
          <script type="text/javascript">
          $("#airTemperature").change(function(){ $("#airTemperatureSet").val(true); });
          </script>
        </div>
        <div class="rowElement">
		  <label for="waterSurfaceTemperature">Water Surface</label>
	      <input id="waterSurfaceTemperature" type="text" name="dive.waterSurfaceTemperature" value="#{if dive?.waterSurfaceTemperatureSet}${dive?.waterSurfaceTemperature}#{/if}"/>
		  <span class="error" style="display:none;">${errors.forKey('dive.waterSurfaceTemperature')}</span>
          <input type="hidden" id="waterSurfaceTemperatureSet" name="dive.waterSurfaceTemperatureSet" value="${dive?.waterSurfaceTemperatureSet}"/>
          <script type="text/javascript">
          $("#waterSurfaceTemperature").change(function(){ $("#waterSurfaceTemperatureSet").val(true); });
          </script>
        </div>
        <div class="rowElement">
		  <label for="waterBottomTemperature">Water Bottom</label>
	      <input id="waterBottomTemperature" type="text" name="dive.waterBottomTemperature" value="#{if dive?.waterBottomTemperatureSet}${dive?.waterBottomTemperature}#{/if}"/>
		  <span class="error" style="display:none;">${errors.forKey('dive.waterBottomTemperature')}</span>
		  <input type="hidden" id="waterBottomTemperatureSet" name="dive.waterBottomTemperatureSet" value="${dive?.waterBottomTemperatureSet}"/>
          <script type="text/javascript">
          $("#waterBottomTemperature").change(function(){ $("#waterBottomTemperatureSet").val(true); });
          </script>
		</div>
		</div>
		
		<div class="row">
        <div class="rowElement">
		<label for="">Type</label>
		<select name="dive.type.id" multiple>
		%{ models.DiveType.all().fetch().sort{ it.toString() }.each() { }%
		  
		  %{
		    selected = false;
		    dive?.type.each() { f ->
		      if (f.id == it?.id)
		        selected = true;
		    }
		  }%
		<option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
		%{ } }%
		</select>
		 <span class="error" style="display:none;">${errors.forKey('dive.type')}</span>
        </div>
        </div>
        <div class="row">
        <div class="rowElement">
		<label for="">Water</label>
		<select name="dive.water.id">       
		%{ models.WaterType.all().fetch().sort{ it.toString() }.each() { }%
		  
		  %{
		    selected = false;
		    if (dive?.water?.id == it.id) {
		      selected = true
		    }
		  }%
		<option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
		%{ } }%
		</select>
        <span class="error" style="display:none;">${errors.forKey('dive.water')}</span>
		</div>
		</div>
    </div>
    
    <h3><a href="#">Pictures</a></h3>
    <div>
        <div class="row">
        <div class="rowElement">
        <input type="file" name="images" multiple />
        </div>
        </div>
    </div> 
    
</div>

<input type="hidden" name="dive.id" value="${dive?.id}"/>
<input type="hidden" name="spot.id" value="${dive?.spot?.id}"/>

<script>
    $( "#accordion" ).accordion();
</script>

*{
     <div class="row">
      <label for="">Fishes</label>
      <div class="field">
            <select name="dive.fishes.id" multiple>
            %{ models.Fish.all().fetch().sort{ it.toString() }.each() { }%
              
              %{
                selected = false;
                dive?.fishes.each() { f ->
                  if (f.id == it?.id)
                    selected = true;
                }
              }%
              <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
            %{ } }%
            </select>
      </div>
      <span class="error" style="display:none;">${errors.forKey('dive.fishes')}</span>
    </div>
/}*
