#{extends 'main.html' /}
#{set 'title'}
    &{'yourdives'}
#{/set}

#{set currentMenu:'menuYourDives' /}

#{set 'actions'}
    <a href="@{Dives.create}">&{'newdive'}</a>
#{/set}

<div class="diveLog">
<ul>
#{list items:dives, as:'dive'}
	<li>
        <a style="display:none" href="@{Dives.show(dive.id)}">show</a>
        <h3>${dive.spot.name}</h3>
        <p>${dive.spot.country}</p>
        <p>${dive.date.format("yyyy-MM-dd")}</p>

		<span style="display:none">${dive.type}</span>
		<span style="display:none">${dive.training}</span>
	</li>
#{/list}
</ul>
</div>

<script type="text/javascript">
    $(".diveLog li").click( function() {
        window.location = $(this).find("a").attr("href");
    })
</script>