#{extends 'main.html' /}
#{set 'title'}
    ${dive.spot} ${dive.date.format("yyyy-MM-dd")}
#{/set}

#{set currentMenu:'menuYourDives' /}

#{set 'actions'}
	<a href="@{Dives.edit(dive.id)}">&{'edit'}</a>
	<a href="@{Dives.delete(dive.id)}" onclick="if (!confirm('&{'deleteconfirmmessage'}')) return false;">&{'delete'}</a>
#{/set}

<div class="dive">

     <div class="mapDisplayContainer">
         <div id="mapDisplayLocation" class="mapDisplay"></div>
         <script types="texts/javascripts">
              var displayLocation = new google.maps.LatLng(${dive.spot?.latitude}, ${dive.spot?.longitude}); 
         </script>
     </div>

    <div class="mainParams">
	   <p>#{if dive.maxDepthSet}<em>${dive.maxDepth}m</em>#{/if} #{if dive.durationSet}<em>${dive.duration} min</em>#{/if}</p>
	</div>

    <div>
        <p>Fishes</p>
        <p>${dive.fishes}</p>
    </div>

    #{if dive.airTemperatureSet || dive.waterSurfaceTemperatureSet || dive.waterBottomTemperatureSet}
    <div>
	    <p>Temperatures</p>
	    <p>#{if dive.airTemperatureSet}air: ${dive.airTemperature}°C#{/if} #{if dive.waterSurfaceTemperatureSet}water surface: ${dive.waterSurfaceTemperature}°C#{/if} #{if dive.waterBottomTemperatureSet}water bottom: ${dive.waterBottomTemperature}°C#{/if}</p>
    </div>
    #{/if}
    
    <div>
	    ${dive.center}
	    #{if dive.training}
	       training
	    #{/if}
    </div>
    
    <div>
	    ${dive.type}
	    ${dive.water}
    </div>
    
    <div>
    <ul>
    #{list items:dive.pictures, as:'picture'}
        <li><img src="@{Application.renderIconPicture(picture.id)}" /><img src="@{Application.renderThumbnailPicture(picture.id)}" /><img src="@{Application.renderNormalPicture(picture.id)}" /></li>
    #{/list}
    </ul>
    </div>
</div>

