#{extends 'main.html' /}
#{set 'title'}
    ${dive.spot} ${dive.date.format("yyyy-MM-dd")}
#{/set}

<a href="@{Dives.edit(dive.id)}">&{'edit'}</a>

<a href="@{Dives.delete(dive.id)}" onclick="if (!confirm('&{'deleteconfirmmessage'}')) return false;">&{'delete'}</a>

<div class="dive">

     <div class="mapDisplayContainer">
         <div id="mapDisplayLocation" class="mapDisplay"></div>
         <script types="texts/javascripts">
              var displayLocation = new google.maps.LatLng(${dive.spot?.latitude}, ${dive.spot?.longitude}); 
         </script>
         
     </div>

	<div class="row">
		<span class="elem">
			maxDepth:
		</span>
		<span class="value">
      ${dive.maxDepth}
		</span>

		<span class="elem">
			duration:
		</span>
		<span class="value">
      ${dive.duration}
		</span>
	</div>
  
    <div class="row">
	  #{if dive.training}
	        <span class="elem">
	            training
	        </span>
	  #{/if}
        <span class="elem">
            type:
        </span>
        <span class="value">
      ${dive.type}
        </span>

        <span class="elem">
            water:
        </span>
        <span class="value">
      ${dive.water}
        </span>
    </div>

  
	<div class="row">
		<span class="elem">
			air:
		</span>
		<span class="value">
      ${dive.airTemperature}
		</span>

		<span class="elem">
			water surface:
		</span>
		<span class="value">
      ${dive.waterSurfaceTemperature}
		</span>

		<span class="elem">
			water bottom:
		</span>
		<span class="value">
      ${dive.waterBottomTemperature}
		</span>
	</div>
  
	<div class="row">
		<span class="elem">
			center:
		</span>
		<span class="value">
      ${dive.center}
		</span>
	</div>
  
	<div class="row">
		<span class="elem">
			fishes:
		</span>
		<span class="value">
      ${dive.fishes}
		</span>
	</div>
</div>

