#{extends 'main.html' /}

<h2>View Dive</h2>

<a href="@{Dives.edit(entity.id)}">Edit</a>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			date:
		</span>
		<span class="value">
      ${entity.date}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			spot:
		</span>
		<span class="value">
      ${entity.spot}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			maxDepth:
		</span>
		<span class="value">
      ${entity.maxDepth}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			duration:
		</span>
		<span class="value">
      ${entity.duration}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			airTemperature:
		</span>
		<span class="value">
      ${entity.airTemperature}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			waterSurfaceTemperature:
		</span>
		<span class="value">
      ${entity.waterSurfaceTemperature}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			waterBottomTemperature:
		</span>
		<span class="value">
      ${entity.waterBottomTemperature}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			type:
		</span>
		<span class="value">
      ${entity.type}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			water:
		</span>
		<span class="value">
      ${entity.water}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			training:
		</span>
		<span class="value">
      ${entity.training}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			center:
		</span>
		<span class="value">
      ${entity.center}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			fishes:
		</span>
		<span class="value">
      ${entity.fishes}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{Dives.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>

