/** 
 * Top left user bar
 */

#userOptions {
    float: right;
    padding: 5px 10px;
}
#userOptions a {
    text-decoration: none;
}

.floatingBox {
    float: right;
    border: 1px solid black;
    background-color: white;
}

#ui-datepicker-div { font-size: 12px; }

#page {
	width: 940px;
    margin: 0px auto;
    padding: 20px 0;
}

.mainTitle {
    font-size: 140%;
    margin: 0 0 10px;	
}

.actions {
    float:right;	
}

/** 
 * Main upper bar
 */
#upperBar {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    
    background-color: #EEEEEE;
    border:1px solid #DDDDDD;
    height:24px;
    padding:4px 10px;
    margin: 0 0 15px;
}

/**
 * Main Menu
 */
#menuBar ul {
    margin-left:0;
    padding-left:0;
    float: left;
}
#menuBar ul li {
    display:inline;
}
#menuBar ul li a {
    -moz-border-radius:4px;
    -wekbit-border-radius:4px;
    border-radius:4px;
    
    text-decoration: none;
    
    color:#666666;
    font-size:14px;
    height:26px;
    line-height:26px;
    padding:0 6px;
    margin-right:6px;
    text-shadow:1px 1px 0 white;
}
#menuBar ul li a.current {
	background: none repeat scroll 0 0 #FFFFFF;
	border-width:1px;
    border-color:#CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-style:solid;
	color:#333333;
}

/**
 * Search
 */
#searchBox {
	float:right;
}
/* Search input, credits MediaWiki template */
#searchBox h5 {
	display: none;
}
#simpleSearch {
	box-shadow: 0px 3px 4px #E5E5E5 inset, 1px 1px 0 #EFEFEF;
    -webkit-box-shadow: 0px 3px 4px #E5E5E5 inset, 1px 1px 0 #EFEFEF; 
    -moz-box-shadow: 0px 3px 4px #E5E5E5 inset, 1px 1px 0 #EFEFEF; 	

    border:1px solid #AAAAAA;
	min-height:1px;
	position:relative;
	background-color: white;
	width: 221px;
}
#simpleSearch input#searchInput {
	background-color:transparent;
	border-width:0;
	font-size:13px;
	margin:0;
	padding:3px;
	vertical-align:top;
	width:14em;
}
#simpleSearch button#searchButton {
	background-color:transparent;
	border:medium none;
	cursor:pointer;
	font-size:x-small;
	margin:0 5px;
	padding:0;
}
#simpleSearch button#searchButton img {
	border:medium none;
	margin:0;
	padding:0;
	vertical-align:middle;
}

/**
 * Form
 */
.form div.row {
    clear:left;
}
.form div.rowElement {
	float: left;
	margin-right: 10px;
}
.form div.rowElement label {
    font-weight:normal;
}
.form div.rowElement label.mainLabel {
    display:block;
}
#country-select {
    width:100px;
}
.form select#center {
    width:100px;
}
.form input[type="checkbox"] {
    vertical-align: middle;
}

/**
 * Maps
 */
div.mapEditContainer {
    float: right;
}
div.mapEdit {
    width: 360px;
    height: 300px;
}

div.mapDisplayContainer {
    float: right;
}
div.mapDisplay {
    width: 400px;
    height: 300px;
}

div.mapExplore {
    width: 100%;
    height: 400px;
}

/**
 * Fish Drag & Drop
 */
#fishNet {
	float:left;
	background-color: #EEEEEE;
	width: 35%;
    height: 300px;
}
#fishNet.active {
    background-color: #F2F2F2;
}
#fishLibrary {
	float:right;
	background-color: #DDDDDD;
    width: 60%;
    height: 300px;
}
#fishResults {
    margin-left:0;
    padding-left:0;
    height:200px
}
.fishResult {
	display: block;
    float:left;
	width: 80px;
    padding: 5px;
    margin: 0 0.4em 0.4em 0;
    text-align: center;
}
.fishResult img {
    width: 100%;	
}
.fishResult h5 {
    font-size: 60%;
    font-weight: normal;    
}


/**
 * DiveLog
 */ 
 .diveLog .dives {
    margin-left:0;
    padding-left:0;
 }
 .diveLog .dive {
    display:inline;
    margin: 10px;
    padding: 5px;
    
    cursor: pointer;

    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid #222222;
    background-color: #EEEEEE;
}

.diveLog .dive:hover {
    background-color: #F2F2F2;
    border-color: #CCCCCC;
}

/* Pictures */
 .diveLog .divePics {
    margin-left:0;
    padding-left:0;
 }

.diveLog .divePic {
	    display:inline;
}

/**
 * Dive view page
 */
 .dive .mainParams {
    font-size: 140%;
    margin-bottom: 15px;
 }