#userOptions {
    float: right;
    padding: 5px 10px;
}

.floatingBox {
    float: right;
    border: 1px solid black;
}

#ui-datepicker-div { font-size: 12px; }

#page {
	width: 940px;
    margin: 0px auto;
    padding: 20px 0;
}	