<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery-ui/smoothness/jquery-ui-1.8.5.custom.css'}">
        
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/src/style.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/src/forms.css'}">
        
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.5.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div id="userOptions">
		#{if controllers.Secure.Security.isConnected()}
            ${controllers.Security.connectedUserName()}
            <a href="@{Secure.logout()}">&{'logout'}</a> 
		#{/if}
		#{else}
            <span id="signupLink"><a href="" onclick="return false">&{'signup'}</a></span>
            <span id="loginLink"><a href="" onclick="return false">&{'login'}</a></span>
		#{/else}
        </div>
        
        #{if flash.error}
		    <p class="error">
		        ${flash.error}
		    </p>
		#{/if}
        #{if flash.success}
            <p class="success">
                ${flash.success}
            </p>
        #{/if}
        
        #{if !controllers.Secure.Security.isConnected()}
			<div id="signupBox" class="floatingBox" style="display:none;">
			<h2>&{'signup'}</h2>
			#{form @Register.registerNew()}
                <p id="email-field">
                    <label for="email">&{'email'}</label>
                    <input type="text" name="email" id="email" value="&{flash.email}" />
                </p>
                <p id="username-field">
                    <label for="username">&{'username'}</label>
                    <input type="text" name="username" id="username" value="&{flash.username}" />
                </p>
			    <p id="password-field">
			        <label for="password">&{'password'}</label>
			        <input type="password" name="password" id="password" value="" />
			    </p>
			    <p id="signin-field">
			    <input type="submit" id="signin" value="&{'signup'}" />
			    </p>
			#{/form}
			</div>

			<div id="loginBox" class="floatingBox" style="display:none;">
	        <h2>&{'login'}</h2>
	           #{form @Secure.authenticate()}
	                <p id="email-field">
			            <label for="username">&{'email'}</label> *{ Secure module works using "username", but for us, username is the email }*
			            <input type="text" name="username" id="username" value="${flash.username}" />
			        </p>
			        <p id="password-field">
			            <label for="password">&{'password'}</label>
			            <input type="password" name="password" id="password" value="" />
			        </p>
			        <p id="remember-field">
			            <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			            <label for="remember">&{'remember'}</label>
			        </p>
			        <p id="signin-field">
			            <input type="submit" id="signin" value="&{'login'}" />
			        </p>
			    #{/form}
			</div>
		#{/if}
		
		
		<div id="mainContent">
        #{doLayout /}
        </div>
    </body>
</html>
