<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery-ui/smoothness/jquery-ui-1.8.5.custom.css'}">
        
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/src/style.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/src/forms.css'}">
        
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.5.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{userOptions /}
		
		<div id="page">
		
		<div id="logo">
            <a href="/"><img alt="Open Divers" src="@{'/public/images/logo.png'}" /></a>
        </div>
		
		#{if flash.error}
		    <p class="error">
		        ${flash.error}
		    </p>
		#{/if}
		#{if flash.success}
		    <p class="success">
		        ${flash.success}
		    </p>
		#{/if}
		
		<div id="mainContent">
            #{doLayout /}
        </div>
        
        <div id="footer">
        </div>
        </div>
    </body>
</html>
