#{extends 'main.html' /}
#{set 'title'}
    ${spot}
#{/set}

#{set currentMenu:'menuExplore' /}

#{mapDisplay spot:spot /}

${spot.name}
${spot.country}

#{if controllers.Secure.Security.isConnected()}
<p><a href="@{Dives.create()}"">&{'divehere'}</a></p>
#{/if}

<p>#{if diveNumber<2}&{'onedivehere', diveNumber}#{/if}#{else}&{'manydiveshere', diveNumber}#{/else}</p>

<div>
<p>&{'spotpictures'}</p>
<ul>
#{list items:pictures, as:'picture'}
    #{pictureThumbnail picture:picture /}
#{/list}
</ul>
</div>

<div>
<p>&{'spotfishes'}</p>
#{fishList fishes:spot.fishes /}
</div>